<div class="customers-wrapper" [@fadeIn]="">
    <h2 style="margin-top: 0;">Our Customers</h2>
    <button style="margin-left: 0; margin-bottom: 20px; border-radius: 15px;" class="btn-primary" (click)="openModal()">Add Customer</button>
    <div class="customers-container">
        <div *ngIf="deleteErrorMessage" class="error-message" [@fadeIn]="">
            {{ deleteErrorMessage }}
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of pagedCustomers" [@tableRow]="">
                    <td>{{ customer.Id }}</td>
                    <td>{{ customer.FirstName }}</td>
                    <td>{{ customer.LastName }}</td>
                    <td>{{ customer.Email }}</td>
                    <td>{{ customer.Phone }}</td>
                    <td>
                        <button class="btn-danger" (click)="confirmDelete(customer)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
        </div>
    </div>

    <div class="modal" *ngIf="isModalOpen" [@fadeIn]="">
        <div class="modal-content">
            <h2 style="color: #333; box-shadow: inset;">Create Customer</h2>
            <form [formGroup]="customerForm" (ngSubmit)="createCustomer()">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" formControlName="firstName" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" formControlName="lastName" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" formControlName="phone" required>
                </div>
                <button style="background-color: #3498db; color: #f7f2f2; margin-left: 0;" type="submit" [disabled]="!customerForm.valid">Create</button>
                <button style="background-color: #c74c3e; color: #f7f2f2;" type="button" (click)="closeModal()">Cancel</button>
            </form>
            <div *ngIf="createErrorMessage" class="error-message" [@fadeIn]="" style="margin-top: 10px;">
                {{ createErrorMessage }}
            </div>
        </div>
    </div>
</div>