/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

button {
    border-radius: 10px !important;
}